/* pour retirer la couleur grise de base de bootstrap afficher sur la navbar */
.bg-light {
    background-color: #FF9800 !important;
}

body{

    font-family: 'Nunito', sans-serif !important;;

}

header {
    background: #FF9800;
    font-size: 1.5rem;
}

.borderT {
    border-top: 5px solid black;
}
.blocinfo{
    padding-left: 200px;
}

.option{
    margin-right: 20px;
}
.option i {
    color: black;
}

.option i:hover {
    color: lightgrey;
}