/* pour retirer la couleur grise de base de bootstrap afficher sur la navbar */
.bg-light {
    background-color: #fff !important;
}

body{

    font-family: 'Nunito', sans-serif !important;
    background: linear-gradient( #bbd6f0, #f05053);

}

header {
    background: #fff;
    font-size: 1.5rem;
}

.borderT {
    border-top: 5px solid black;
}
.blocinfo{
    padding-left: 200px;
}

.option{
    margin-right: 20px;
}
.option i {
    color: black;
}

.option i:hover {
    color: lightgrey;
}