/* pour retirer la couleur grise de base de bootstrap afficher sur la navbar */
.bg-light {
    background-color: #E6EE9C !important;
}

body{

    font-family: 'Nunito', sans-serif !important;
    background: rgb(240, 240, 240);

}

header {
    background: #E6EE9C;
}

.borderT {
    border-top: 5px solid black;
}
.blocinfo{
    padding-left: 200px;
}

.option{
    margin-right: 20px;
}
.option i {
    color: black;
}

.option i:hover {
    color: lightgrey;
}